mcp/Monitoring (Playwright MCP).json
{
  "name": "Monitoring (Playwright MCP)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1008,
        656
      ],
      "id": "149f6cfd-4a93-4eac-b4e7-3def4fe05415",
      "name": "Every 5 Minutes"
    },
    {
      "parameters": {
        "jsCode": "// 모니터링 설정 (schedule 트리거 timestamp 사용)\nconst triggerTimestamp = $input.first().json.timestamp;\nconst now = new Date(triggerTimestamp);\n// 한국시간으로 변환 (UTC+9)\nconst kstTime = new Date(now.getTime() + (9 * 60 * 60 * 1000));\nconst timestamp = kstTime.toISOString();\nconst checkId = `${$execution.id}-${kstTime.getTime()}`;\nconst screenshotFilename = `health-check_${kstTime.toISOString().replace(/[:.]/g, '-')}.png`;\n\nconst config = {\n  url: 'http://localhost:3000',\n  checkId: checkId,\n  timestamp: timestamp,\n  targetName: 'localhost-3000',\n  screenshotFilename: screenshotFilename\n};\n\nreturn {\n  json: config\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        656
      ],
      "id": "984e5cdf-4d9c-47df-b6f2-98bc35bbe541",
      "name": "Initialize Config"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chat-input-id",
              "name": "chatInput",
              "value": "=웹사이트 헬스 체크를 수행합니다.\nURL: {{ \"http://host.docker.internal:\" + $json.url.substring($json.url.length-4, $json.url.length) }}\n스크린샷 파일명: {{ $json.screenshotFilename }}\n작업:\n1. browser_navigate로 URL 접속\n2. browser_evaluate로 성능 측정 (window.performance 사용)",
              "type": "string"
            },
            {
              "id": "330b6a2e-b02c-4756-8937-b73c78486638",
              "name": "sessionId",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        656
      ],
      "id": "4eef54c5-c4b0-413e-b09d-a50735c86aa4",
      "name": "Prepare Agent Input"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "당신은 웹사이트 모니터링 AI입니다. 다음 순서로 정확히 1번씩만 도구를 호출하세요:\n\n1. browser_navigate로 URL 접속\n2. browser_evaluate로 성능 측정\n3. browser_console_messages로 콘솔 에러 확인\n4. browser_take_screenshot으로 스크린샷 촬영\n\n각 도구는 정확히 1번씩만 호출하고, 마지막에 JSON 결과를 반환하세요.",
          "maxIterations": 6,
          "returnIntermediateSteps": true
        }
      },
      "id": "a72c72d9-b07d-4b06-b24e-2b13d9c5a3e4",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -368,
        656
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -576,
        896
      ],
      "id": "6c2067b6-cd8a-4c0f-816c-3ce346fde71a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "a1GLShSJkarZ66KW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -432,
        896
      ],
      "id": "c94b3ae1-5d1c-4367-9609-b4be22072b4b",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "fwYQR53oadRtTScA",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://playwright-mcp:3001/sse",
        "serverTransport": "sse",
        "include": "selected",
        "includeTools": [
          "browser_navigate"
        ],
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -272,
        896
      ],
      "id": "78463c1d-983c-40c9-8d4e-c6fa6b813658",
      "name": "Playwright MCP (browser_navigate)"
    },
    {
      "parameters": {
        "endpointUrl": "http://playwright-mcp:3001/sse",
        "serverTransport": "sse",
        "include": "selected",
        "includeTools": [
          "browser_evaluate"
        ],
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -96,
        896
      ],
      "id": "3b9cf73e-825a-4eb7-b4db-f087b747474a",
      "name": "Playwright MCP (browser_evaluate)"
    },
    {
      "parameters": {
        "endpointUrl": "http://playwright-mcp:3001/sse",
        "serverTransport": "sse",
        "include": "selected",
        "includeTools": [
          "browser_console_messages"
        ],
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        80,
        896
      ],
      "id": "1f3b527e-690e-4223-8b91-90572e379850",
      "name": "Playwright MCP (browser_console_messages)"
    },
    {
      "parameters": {
        "endpointUrl": "http://playwright-mcp:3001/sse",
        "serverTransport": "sse",
        "include": "selected",
        "includeTools": [
          "browser_take_screenshot"
        ],
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        256,
        896
      ],
      "id": "3a17178a-c644-4b40-9d91-7c78f2441d19",
      "name": "Playwright MCP (browser_take_screenshot)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"adaptiveCardMessage\",\n  \"attachments\": [\n    {\n      \"contentType\": \"application/vnd.microsoft.card.adaptive\",\n      \"content\": {\n        \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n        \"type\": \"AdaptiveCard\",\n        \"version\": \"1.5\",\n        \"body\": [\n          {\n            \"type\": \"Container\",\n            \"items\": [\n              {\n                \"type\": \"TextBlock\",\n                \"text\": \"🤖 웹사이트 헬스 체크 리포트\",\n                \"size\": \"Large\",\n                \"weight\": \"Bolder\",\n                \"color\": \"Good\",\n                \"spacing\": \"Medium\"\n              },\n              {\n                \"type\": \"TextBlock\",\n                \"text\": \"{{ $json.monitoringResult.status === 'success' ? '✅ 정상 상태' : '❌ 오류 감지됨' }}\",\n                \"weight\": \"Bolder\",\n                \"color\": \"{{ $json.monitoringResult.status === 'success' ? 'Good' : 'Attention' }}\",\n                \"spacing\": \"Small\"\n              }\n            ],\n            \"style\": \"default\",\n            \"bleed\": true\n          },\n          {\n            \"type\": \"Container\",\n            \"items\": [\n              {\n                \"type\": \"TextBlock\",\n                \"text\": \"**{{ $json.monitoringResult.page_title.substring(0, 21) }}**\",\n                \"size\": \"Medium\",\n                \"wrap\": true,\n                \"weight\": \"Bolder\",\n                \"spacing\": \"Medium\"\n              },\n              {\n                \"type\": \"FactSet\",\n                \"facts\": [\n                  {\n                    \"title\": \"🌐 URL\",\n                    \"value\": \"[{{ $json.monitoringResult.url }}]({{ $json.monitoringResult.url }})\"\n                  },\n                  {\n                    \"title\": \"상태\",\n                    \"value\": \"{{ $json.monitoringResult.status === 'success' ? '✅ 정상' : '❌ 에러' }}\"\n                  },\n                  {\n                    \"title\": \"HTTP 상태 코드\",\n                    \"value\": \"{{ $json.monitoringResult.http_status_code }}\"\n                  },\n                  {\n                    \"title\": \"페이지 로드 시간\",\n                    \"value\": \"{{ $json.monitoringResult.page_load_time_ms }} ms\"\n                  },\n                  {\n                    \"title\": \"JavaScript 에러\",\n                    \"value\": \"{{ $json.monitoringResult.javascript_errors.length }}개\"\n                  },\n                  {\n                    \"title\": \"네트워크 에러\",\n                    \"value\": \"{{ $json.monitoringResult.network_errors.length }}개\"\n                  },\n                  {\n                    \"title\": \"체크 시간\",\n                    \"value\": \"{{ $('Every 5 Minutes').item.json.timestamp.toDateTime().format('yyyy-MM-dd HH:mm:ss') }}\"\n                  }\n                ]\n              }\n            ],\n            \"style\": \"emphasis\",\n            \"bleed\": true,\n            \"separator\": true\n          },\n          {\n            \"type\": \"Container\",\n            \"items\": [\n              {\n                \"type\": \"TextBlock\",\n                \"text\": \"{{ $json.monitoringResult.status === 'success' ? '🟢 현재 모든 모듈이 정상적으로 작동 중입니다.' : '🔴 AI Agent가 문제를 감지했습니다. 자세한 로그를 확인하세요.' }}\",\n                \"wrap\": true,\n                \"color\": \"{{ $json.monitoringResult.status === 'success' ? 'Good' : 'Attention' }}\",\n                \"weight\": \"Bolder\",\n                \"spacing\": \"Medium\"\n              }\n            ],\n            \"style\": \"default\",\n            \"separator\": true\n          },\n          {\n            \"type\": \"TextBlock\",\n            \"text\": \"⚙️ AI Agent가 주기적으로 사이트 상태를 모니터링 중입니다.\",\n            \"isSubtle\": true,\n            \"wrap\": true,\n            \"spacing\": \"Medium\"\n          }\n        ],\n        \"actions\": [\n          {\n            \"type\": \"Action.OpenUrl\",\n            \"title\": \"🔍 사이트 열기\",\n            \"url\": \"{{ \"http://localhost:\" + $json.monitoringResult.url.substring($json.monitoringResult.url.length-4, $json.monitoringResult.url.length) }}\"\n          },\n          {\n            \"type\": \"Action.OpenUrl\",\n            \"title\": \"📷 스크린샷 보기\",\n            \"url\": \"{{ $json.monitoringResult.report_url || 'https://your-monitoring-dashboard.example.com' }}{{ $json.monitoringResult.screenshot_path }}\"\n          }\n        ]\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        656
      ],
      "id": "e98d544a-3092-4919-8891-4ed28c781420",
      "name": "Teams Send Message"
    },
    {
      "parameters": {
        "jsCode": "// AI Agent 응답 처리 (마크다운 코드 블록 지원)\nconst config = $('Initialize Config').first().json;\nconst agentOutput = $json;\n\nconsole.log('=== AI Agent Raw Output ===');\nconsole.log(JSON.stringify(agentOutput, null, 2));\n\n// AI Agent 출력에서 성능 데이터 추출\nlet performanceData = null;\nlet consoleData = null;\nlet screenshotData = null;\nlet navigationSuccess = false;\nlet pageTitle = '';\n\n// 1. agent_output.output에서 성능 데이터 추출 (마크다운 코드 블록 지원)\ntry {\n  if (agentOutput.output) {\n    let outputData;\n    \n    // 마크다운 코드 블록에서 JSON 추출\n    if (agentOutput.output.includes('```json')) {\n      const jsonMatch = agentOutput.output.match(/```json\\n([\\s\\S]*?)\\n```/);\n      if (jsonMatch) {\n        outputData = JSON.parse(jsonMatch[1]);\n        console.log('Parsed JSON from markdown code block:', outputData);\n      }\n    } else {\n      // 일반 JSON 문자열인 경우\n      outputData = JSON.parse(agentOutput.output);\n      console.log('Parsed output data directly:', outputData);\n    }\n    \n    if (outputData && outputData.performance) {\n      performanceData = outputData.performance;\n      console.log('Found performance data in output:', performanceData);\n    }\n    if (outputData && outputData.console_errors) {\n      consoleData = outputData.console_errors;\n    }\n    if (outputData && outputData.screenshot_file) {\n      screenshotData = {\n        filename: outputData.screenshot_file,\n        path: `/data/shared/monitoring/screenshots/${outputData.screenshot_file}`\n      };\n    }\n  }\n} catch (e) {\n  console.error('Failed to parse agent output:', e);\n  console.log('Raw output:', agentOutput.output);\n}\n\n// 2. intermediateSteps에서 추가 데이터 추출\nconst steps = agentOutput.intermediateSteps || [];\nfor (const step of steps) {\n  const tool = step.action?.tool;\n  const observation = step.observation;\n  \n  if (tool === 'browser_navigate') {\n    navigationSuccess = observation && observation.includes('Page URL');\n    // 페이지 제목 추출\n    const titleMatch = observation.match(/Page Title: ([^\\n\\r]+)/);\n    if (titleMatch) {\n      pageTitle = titleMatch[1].trim();\n    }\n  } else if (tool === 'browser_evaluate' && !performanceData) {\n    // performanceData가 없을 때만 intermediateSteps에서 추출\n    try {\n      const jsonMatch = observation.match(/### Result\\n(\\{[\\s\\S]*?\\})/);\n      if (jsonMatch) {\n        performanceData = JSON.parse(jsonMatch[1]);\n        console.log('Found performance data in intermediateSteps:', performanceData);\n      }\n    } catch (e) {\n      console.error('Performance data parsing error:', e);\n    }\n  } else if (tool === 'browser_console_messages' && !consoleData) {\n    consoleData = observation;\n  } else if (tool === 'browser_take_screenshot' && !screenshotData) {\n    screenshotData = {\n      filename: config.screenshotFilename,\n      path: `/data/shared/monitoring/screenshots/${config.screenshotFilename}`\n    };\n  }\n}\n\n// 콘솔 에러 추출\nconst jsErrors = [];\nif (consoleData && consoleData.includes('[ERROR]')) {\n  const errorLines = consoleData.split('\\n').filter(line => line.includes('[ERROR]'));\n  jsErrors.push(...errorLines.map(line => ({ message: line, type: 'error' })));\n}\n\n// 성능 데이터에서 실제 로드 시간 계산\nlet pageLoadTime = 0;\nlet domContentLoadedTime = 0;\nlet firstContentfulPaint = 0;\nlet ttfb = 0;\n\nconsole.log('=== Performance Data Debug ===');\nconsole.log('Raw performanceData:', JSON.stringify(performanceData, null, 2));\n\nif (performanceData?.timing) {\n  const timing = performanceData.timing;\n  console.log('Timing data found:', timing);\n  \n  // 로드 완료 시간 - 네비게이션 시작 시간\n  if (timing.loadEventEnd && timing.navigationStart) {\n    pageLoadTime = timing.loadEventEnd - timing.navigationStart;\n  }\n  \n  // DOM 콘텐츠 로드 완료 시간\n  if (timing.domContentLoadedEventEnd && timing.navigationStart) {\n    domContentLoadedTime = timing.domContentLoadedEventEnd - timing.navigationStart;\n  }\n  \n  // 첫 번째 콘텐츠 페인트 (FCP) - responseEnd에서 계산\n  if (timing.responseEnd && timing.navigationStart) {\n    firstContentfulPaint = timing.responseEnd - timing.navigationStart;\n  }\n  \n  // TTFB (Time to First Byte)\n  if (timing.responseStart && timing.navigationStart) {\n    ttfb = timing.responseStart - timing.navigationStart;\n  }\n  \n  console.log('Calculated values:');\n  console.log('- pageLoadTime:', pageLoadTime);\n  console.log('- domContentLoadedTime:', domContentLoadedTime);\n  console.log('- firstContentfulPaint:', firstContentfulPaint);\n  console.log('- ttfb:', ttfb);\n} else if (performanceData?.navigation) {\n  pageLoadTime = performanceData.navigation.duration || 0;\n  domContentLoadedTime = performanceData.navigation.domContentLoadedEventEnd || 0;\n  console.log('Using navigation data:', performanceData.navigation);\n} else {\n  console.log('No performance data found');\n}\n\nconsole.log('================================');\n\nconst httpStatusCode = navigationSuccess ? 200 : 500;\n\n// 상태 결정\nlet status = 'success';\nlet severity = 'low';\n\nif (!navigationSuccess) {\n  status = 'error';\n  severity = 'critical';\n} else if (jsErrors.length >= 5) {\n  status = 'error';\n  severity = 'medium';\n} else if (pageLoadTime > 3000) {\n  status = 'warning';\n  severity = 'medium';\n} else if (jsErrors.length > 0 || pageLoadTime > 2000) {\n  status = 'warning';\n  severity = 'low';\n}\n\n// monitoring_results 테이블용 데이터\nconst monitoringResult = {\n  check_id: config.checkId,\n  url: config.url,\n  check_timestamp: config.timestamp,\n  status: status,\n  http_status_code: httpStatusCode,\n  page_load_time_ms: pageLoadTime,\n  first_contentful_paint_ms: firstContentfulPaint,\n  dom_content_loaded_ms: domContentLoadedTime,\n  total_resources_loaded: 0,\n  failed_resources_count: 0,\n  javascript_errors: jsErrors,\n  console_errors: jsErrors,\n  network_errors: [],\n  screenshot_path: screenshotData?.path || null,\n  screenshot_size_bytes: 0,\n  page_title: pageTitle,\n  meta_description: '',\n  raw_data: {\n    agent_output: agentOutput,\n    performance: performanceData,\n    console: consoleData\n  }\n};\n\n// monitoring_metrics 테이블용 데이터\nconst monitoringMetrics = {\n  check_id: config.checkId,\n  url: config.url,\n  metric_timestamp: config.timestamp,\n  lcp_ms: null,\n  fid_ms: null,\n  cls: null,\n  ttfb_ms: ttfb,\n  fcp_ms: firstContentfulPaint,\n  tti_ms: null,\n  total_transfer_size_bytes: null,\n  total_resource_count: 0,\n  dns_lookup_ms: null,\n  tcp_connection_ms: null,\n  tls_handshake_ms: null,\n  js_heap_size_mb: null,\n  dom_nodes_count: null\n};\n\n// 알림 데이터\nconst needsAlert = status !== 'success';\nlet alertData = null;\n\nif (needsAlert) {\n  alertData = {\n    check_id: config.checkId,\n    url: config.url,\n    alert_type: status === 'error' ? 'downtime' : 'slow_response',\n    severity: severity,\n    alert_title: `AI Agent 모니터링 ${status}`,\n    alert_message: `${config.url} - Status: ${status}, Load: ${pageLoadTime}ms, Errors: ${jsErrors.length}`,\n    alert_data: {\n      httpStatusCode,\n      pageLoadTime,\n      jsErrorCount: jsErrors.length,\n      navigationSuccess\n    },\n    notification_sent: false,\n    resolved: false\n  };\n}\n\nconsole.log('=== AI Agent Health Check Result ===');\nconsole.log(`URL: ${config.url}`);\nconsole.log(`Status: ${status}`);\nconsole.log(`HTTP: ${httpStatusCode}`);\nconsole.log(`Load Time: ${pageLoadTime}ms`);\nconsole.log(`DOM Load Time: ${domContentLoadedTime}ms`);\nconsole.log(`FCP: ${firstContentfulPaint}ms`);\nconsole.log(`TTFB: ${ttfb}ms`);\nconsole.log(`JS Errors: ${jsErrors.length}`);\nconsole.log(`Screenshot: ${screenshotData?.path || 'N/A'}`);\nconsole.log(`Page Title: ${pageTitle}`);\nconsole.log('====================================');\n\nreturn {\n  json: {\n    config,\n    monitoringResult,\n    monitoringMetrics,\n    alertData,\n    summary: {\n      status,\n      severity,\n      needsAlert,\n      timestamp: config.timestamp,\n      url: config.url,\n      pageLoadTime,\n      httpStatusCode,\n      jsErrorCount: jsErrors.length,\n      networkErrorCount: 0\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        656
      ],
      "id": "c0a192d5-2709-48dc-88a8-0e6ea3d7a710",
      "name": "Process AI Results"
    }
  ],
  "pinData": {},
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Initialize Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Config": {
      "main": [
        [
          {
            "node": "Prepare Agent Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Agent Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Process AI Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Playwright MCP (browser_navigate)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Playwright MCP (browser_evaluate)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Playwright MCP (browser_console_messages)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Playwright MCP (browser_take_screenshot)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Process AI Results": {
      "main": [
        [
          {
            "node": "Teams Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "d891e917-c454-492f-8215-aa65caf6486c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b007e54dc68ebebfec657be46e7604ed5da78fee757d9916da8781555e4bd14e"
  },
  "id": "ugzbunpNrWdST65X",
  "tags": []
}